body {
    max-width: 100%;
    margin: 1px 4px;
}

.dropdown {
    display: block;
    width: 100%;
    padding: .2rem;
    margin: .2rem 0;
    font-size: .8rem;
    line-height: 1.25;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Segoe UI, Ubuntu, sans-serif;
}

.main > img {
    width: 515px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
}