doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="popup.css")
    body
        select#city.dropdown
        .main: p Loading...

        script(src="../libs/jquery.min.js")
        script(src="popup.js")